extends ./_mod/_base.pug

//-----------------------------------------------------------
//- Page Settings
//-----------------------------------------------------------
block variable


block contents

    article.c-works-slider

        h1.c-works-slider-item__title.c-works-slider__hide-target.js-works-slider__hide-target
            span <?= add_span_to_en(get_the_title()); ?>

        //- スライダーコンテンツ
        |<?php
        |$index = 0;
        |if(have_rows('works_slider')):
        |while(have_rows('works_slider')): the_row();
        |?>
        //- スライド内の情報を取得
        |<?php $image_array = get_image_array(get_sub_field('image')); ?>
        .c-works-slider-item.js-works-slider__item(class!="<?php if($index != 0) echo 'is-hide'; ?>")
            //- |<?php if($index == 0): ?>
            //- h1.c-works-slider-item__title.js-works-slider__hide-target <?= the_title(); ?>
            //- |<?php endif; ?>
            .c-works-slider-item__image(class!="<?php if(get_sub_field('description')){ echo 'c-works-slider-item__image--with-description'; } ?>")
                img(
                    alt!="<?= get_the_title() . ' image'; ?>"
                    width!="<?= $image_array['width']; ?>"
                    height!="<?= $image_array['height']; ?>"
                    src!="<?= $image_array['small']; ?>"
                    srcset!="<?= $image_array['small'] . ' 375w, ' . $image_array['thumbnail'] . ' 750w, ' . $image_array['medium'] . ' 1500w, ' . $image_array['large'] . ' 3000w'; ?>"
                    sizes="100vw"
                    loading="lazy"
                    decoding="async"
                    fetchpriority="high"
                )
            |<?php if(get_sub_field('description')): ?>
            .c-works-slider-item__description.c-works-slider__hide-target.c-works-slider__hide-target--light-color.js-works-slider__hide-target
                p
                    |<?= add_span_to_en(get_sub_field('description')); ?>
            |<?php endif; ?>
        |<?php
        |$index += 1;
        |endwhile; endif;
        |?>


        //- ボタンリスト
        a.c-works-slider__button.c-works-slider__close-button.c-works-slider__hide-target.js-works-slider__hide-target.js-change-color-target.js-works-close-button.js-hover(href!="<?= home_url( '/' ); ?>" aria-label="ホームページに移動" class!="<?php if($is_dark_mode){ echo ' is-rev'; }; ?>")
        .c-works-slider__button-wrap
            button.c-works-slider__button.c-works-slider__handle.c-works-slider__hide-target.js-works-slider__left-handle.js-works-slider__hide-target.js-change-color-target.js-hover.is-disable(type="button" aria-label="前の画像を表示する" class!="<?php if($is_dark_mode){ echo ' is-rev'; }; ?>")
                include ../../src/img/arrow.svg
            button.c-works-slider__button.c-works-slider__information.c-works-slider__hide-target.js-works-slider__information-button.js-works-slider__hide-target.js-change-color-target.js-hover(type="button" aria-label="ワークスの詳細情報を表示する" class!="<?php if($is_dark_mode){ echo ' is-rev'; }; ?>")
                include ../../src/img/info-icon.svg
            button.c-works-slider__button.c-works-slider__handle.js-works-slider__right-handle.c-works-slider__handle--right.c-works-slider__hide-target.js-works-slider__hide-target.js-change-color-target.js-hover(type="button" aria-label="次の画像を表示する" class!="<?php if($index == 1){ echo 'is-disable';}; ?><?php if($is_dark_mode){ echo ' is-rev'; }; ?>")
                include ../../src/img/arrow-right.svg


        //- information モーダル
        .c-works-information-modal.js-works-information-modal.js-works-slider__information-modal.js-change-color-target(class!="<?php if($is_dark_mode){ echo ' is-rev'; }; ?>")

            article.c-works-information-modal__container.js-works-information-modal__container

                .c-works-information-modal__title-wrap

                    h2.c-works-information-modal__title <?= add_span_to_en(get_the_title()); ?>

                    //- 備考
                    |<?php if(get_field('works_remarks')): ?>
                    p.c-works-information-modal__remarks
                        |<?= add_span_to_en(get_field('works_remarks')); ?>
                    |<?php endif; ?>

                //- プロジェクト概要
                |<?php if(get_field('works_description')): ?>
                p.c-works-information-modal__description
                    |<?= add_span_to_en(get_field('works_description')); ?>
                |<?php endif; ?>

                //- リンクリスト
                |<?php if(have_rows('links')): ?>
                ul.c-works-information-modal__link-list
                    |<?php while(have_rows('links')): the_row(); ?>
                    li.p-works-link
                        a.p-works-link__body.js-change-color-target.js-hover(href!="<?= get_sub_field('url'); ?>" target="_blank" rel="noopener noreferrer" aria-label="リンクを別タブで開く" class!="<?php if($is_dark_mode){ echo ' is-rev'; }; ?>")
                            |<?php
                            |if(get_sub_field('text')) echo get_sub_field('text');
                            |else echo get_sub_field('url');
                            |?>
                    |<?php endwhile; ?>
                |<?php endif; ?>

                //- クレジットリスト
                |<?php if(have_rows('works_credit_list')): ?>
                .c-works-information-modal__credit-list
                    ul.p-works-credit
                        |<?php while(have_rows('works_credit_list')): the_row(); ?>
                        li.p-works-credit__item
                            span.p-works-credit__role
                                |<?= add_span_to_en(get_sub_field('roll')); ?>
                            span.p-works-credit__separator
                            span.p-works-credit__name
                                |<?= add_span_to_en(get_sub_field('name')); ?>
                        |<?php endwhile; ?>
                |<?php endif; ?>

                //- クローズボタン
                button.c-works-slider__button.c-works-slider__close-button.c-works-information-modal__close-button.js-works-slider__information-modal-close-button.js-change-color-target.js-hover.js-works-information-modal__button(type="button" aria-label="情報モーダルを閉じる" class!="<?php if($is_dark_mode){ echo ' is-rev'; }; ?>")

