//- 必要なポストを抽出
|<?php
|$cat_slug = '';
|if(!is_home() && !is_front_page()) $cat_slug = get_queried_object() -> slug;
|$args = array(
|   'posts_per_page' => 12,
|   'post_type' => 'post',
|   'post_status' => 'publish',
|   'orderby' => 'date',
|   'order' => 'DESC',
|   'category_name' => $cat_slug
|);
|$query = new WP_Query($args);
|$posts = $query->posts;
|$has_more_posts = ($query->max_num_pages > 1);
|?>
ol.c-works-list.js-masonry.js-change-style(data-current-page="1" data-category-slug!="<?= $cat_slug; ?>")

    //- ポストのループ処理
    |<?php if (have_posts()): foreach ($posts as $post): setup_postdata($post); ?>
    //- ポストの各素材を取得
    |<?php
    |$image_array = get_thumbnail_image_array(get_post_thumbnail_id());
    |if((is_home() || is_front_page()) && get_field('top_thumbnail')) $image_array = get_image_array(get_field('top_thumbnail'));
    |?>
    li.c-works-list__item.js-masonry__item.js-change-style__item(class!="<?php if($image_array['width'] <= $image_array['height']){ echo 'c-works-list__item--vertical'; } ?>")
        a.c-works-list__item-link.js-hover.js-works-modal-link.js-works-seen-trigger(href!="<?php the_permalink(); ?>" data-work-url!="<?php the_permalink(); ?>")
            img.js-change-style__image(
                alt!="<?= get_the_title() . ' thumbnail image'; ?>"
                width!="<?= $image_array['width']; ?>"
                height!="<?= $image_array['height']; ?>"
                src!="<?= $image_array['small']; ?>"
                srcset!="<?= $image_array['small'] . ' 375w, ' . $image_array['thumbnail'] . ' 750w, ' . $image_array['medium'] . ' 1500w, ' . $image_array['large'] . ' 3000w'; ?>"
                sizes="(max-width: 768px) 50vw, (max-width: 2000px) 33vw, 25vw"
                data-sizes-list="100vw"
            )
            .c-works-list__seen-icon.js-change-color-target.js-works-seen-icon(class!="<?php if($is_dark_mode){ echo ' is-rev'; }; ?>")
                |seen
        .c-works-list__text
            h2.c-works-list__title <?= add_span_to_en(get_the_title()); ?>
            |<?php if(get_field('works_remarks')): ?>
            p.c-works-list__note <?= add_span_to_en(get_field('works_remarks')); ?>
            |<?php endif; ?>
    |<?php endforeach; endif; wp_reset_postdata(); ?>

|<?php if($has_more_posts): ?>
button.p-infinite-scroll-button.js-infinite-scroll-button.js-change-color-target.js-hover(type="button" aria-label="投稿を更に読み込む" aria-pressed="false" class!="<?php if($is_dark_mode){ echo ' is-rev'; }; ?>")
|<?php endif; ?>

//- モーダル
.c-works-modal.js-works-modal
    .c-works-modal__container.js-change-color-target(class!="<?php if($is_dark_mode){ echo ' is-rev'; }; ?>")
        .c-works-modal__content.js-works-modal__content